body {height: 100px;
        position: absolute;
   /* background: linear-gradient(to bottom, #33ccff 50%, #ff99cc 100%);*/
 background-color: white;
    padding: 20px;
     font-family: 'Lato', sans-serif;
    }
.nav1 {

}

h1, h2, h3


ul {

    list-style-type: none;

}



li {
    display: inline;

}






.nav {
    background-size: cover;
    text-align: center;


}
nav a {
    text-decoration: none;



}

img {
    width: 100%;
}


