




body {

   /* background: linear-gradient(to bottom, #33ccff 50%, #ff99cc 100%);*/
 background-color: white;
    padding: 20px;
     font-family: 'Lato', sans-serif;
    }


h1, h2, h3
{font-family: "lato";}

ul {

    list-style-type: none;

}



li {
    display: inline;

}


.nav1{background-size: cover;
    text-align:left;




}




.nav {
    background-size: cover;
    text-align: center;


}
nav a {
    text-decoration: none;



}


/*#nav-utility li:before{content:'\00B7';padding-right:5px;}*/

/*span:after {
    content: '*';
}
span.last:after {
    content: '';
}*/

img {
    width: 100%;
}

.postmodernismebillede{width: 30%;}


